 <!-- FOOTER (ОБНОВЛЕНО) -->
        <footer class="bg-[--lusso-dark] text-white pt-20 pb-10 px-6">
            <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-12 mb-20">
                <div class="md:col-span-2">
                    <h2 class="text-5xl font-black text-[--lusso-accent] tracking-tighter mb-6 w-40">
                          <a href="index.html"><img  src="assets/img/Лого.png" alt=""></a>
   
                    </h2>
                    <p class="text-white/50 max-w-sm mb-8">Первая specialty кофейня в городе. Мы верим, что каждая чашка должна быть идеальной.</p>
                    <div class="flex gap-4">
                        <a v-for="soc in ['IG', 'WA', 'TG']" href="#" class="w-10 h-10 rounded-full border border-white/10 flex items-center justify-center text-[10px] font-bold hover:bg-[--lusso-accent] hover:border-transparent transition-all">{{ soc }}</a>
                    </div>
                </div>
                
                <div>
                    <h4 class="font-bold text-xs uppercase tracking-[0.2em] mb-8 text-[--lusso-brown]">Навигация</h4>
                    <ul class="space-y-4 text-sm text-white/60">
                        <li><a href="#" class="hover:text-white transition-colors">Меню</a></li>
                        <li><a href="#" class="hover:text-white transition-colors">Обжарка</a></li>
                        <li><a href="#" class="hover:text-white transition-colors">Кейтеринг</a></li>
                        <li><a href="#" class="hover:text-white transition-colors">Контакты</a></li>
                    </ul>
                </div>

                <div>
                    <h4 class="font-bold text-xs uppercase tracking-[0.2em] mb-8 text-[--lusso-brown]">Контакты</h4>
                    <p class="text-sm text-white/60 mb-2">Грозный, ул. Кавказская 52</p>
                    <p class="text-sm text-white/60 mb-6">+7 (938) 999 77 88</p>
                    <p class="text-[10px] text-[--lusso-accent] font-bold uppercase tracking-widest">Открыты: 08:00 - 23:00</p>
                </div>
            </div>
            
            <div class="max-w-6xl mx-auto pt-10 border-t border-white/5 flex flex-col md:flex-row justify-between items-center gap-6">
                <p class="text-[10px] text-white/20 uppercase tracking-widest">© 2025 LUSSO COFFEE. Crafted with heart.</p>
                <div class="flex gap-8 text-[10px] text-white/20 uppercase tracking-widest">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </div>
            </div>
        </footer> 
        